/*! 98.css v0.1.20 - https://github.com/jdan/98.css */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
  }
  
  body {
    color: #222;
    font-family: "Poppins";
    font-size: 12px;
  }
  
  .title-bar,
  .window,
  button,
  input,
  label,
  option,
  select,
  table,
  textarea,
  ul.tree-view {
    -webkit-font-smoothing: none;
    font-family: "Poppins", Arial;
    font-size: 11px;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  u {
    border-bottom: 0.5px solid #222;
    text-decoration: none;
  }
  
  button,
  input[type=reset],
  input[type=submit] {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
  }
  
  .vertical-bar,
  button,
  input[type=reset],
  input[type=submit] {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
  
  .vertical-bar {
    height: 20px;
    width: 4px;
  }
  
  button:not(:disabled):active,
  input[type=reset]:not(:disabled):active,
  input[type=submit]:not(:disabled):active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
  }
  
  @media (not(hover)) {
    button:not(:disabled):hover,
    input[type=reset]:not(:disabled):hover,
    input[type=submit]:not(:disabled):hover {
      box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    }
  }
  
  button:focus,
  input[type=reset]:focus,
  input[type=submit]:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
  }
  
  button::-moz-focus-inner,
  input[type=reset]::-moz-focus-inner,
  input[type=submit]::-moz-focus-inner {
    border: 0;
  }
  
  :disabled,
  :disabled+label,
  input[readonly],
  input[readonly]+label {
    color: grey;
  }
  
  :disabled+label,
  button:disabled,
  input[type=reset]:disabled,
  input[type=submit]:disabled {
    text-shadow: 1px 1px 0 #fff;
  }
  
  .window {
    background: hsl(0, 0%, 60%);
    box-shadow: inset -1px -1px #000, inset 1px 1px #000, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
  }
  
  .title-bar {
    align-items: center;
    background: linear-gradient(90deg, grey, #000);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
  }
  
  .title-bar-text {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 24px;
  }
  
  .title-bar-controls button {
    display: block;
    min-height: 14px;
    min-width: 16px;
    padding: 0;
  }
  
  
  .menu {
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 0;
    box-shadow: 1px 1px 0 #fff, 2px 2px 0 grey, 3px 3px 0 #dfdfdf, 4px 4px 0 #0a0a0a;
    margin: 8px 0 8px 8px;
    padding: 0;
    position: absolute;
  }
  
  .menu a {
    background: #fff;
    color: #222;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
  }
  
  .menu a:hover {
    background: #4a90e2;
    color: #fff;
  }
  
  .menu hr {
    border: 0;
    border-top: 1px solid #dfdfdf;
    margin: 4px 0;
    padding: 0;
  }

  
 